<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site serviços</title>
    <link rel="stylesheet" href="CSS/form.css">   
</head>
<body>
    <form id="Formulario">
        <label for="fname">Email:</label>
        <br>
        <input type="Email" id="fname" name="fname"><br><br>
        <label for="lname">Senha:</label>
        <br>
        <input type="password" id="lname" name="lname"><br><br>
        
      </form> 
      
      <button>submit</button>
      <br>
      <A class="voltar" href="INDEX.HTML"> voltar </A>
      
</body>
</html>